{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Cat List</h1>
  {% if cats %}
  <ul>
    {% for cat in cats %}
      <li>
          {{ cat.nickname }} ({{ cat.breed }})
          (<a href="{%url 'cats:cat_update' cat.id%}">Update</a> |
          <a href="">Delete</a>) <br/>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no cats.</p>
  {% endif %}
  <p>
    {% if breed_count > 0 %}
      <a href="{%url 'cats:cat_create'%}">Add a cat</a>
    {% else %}
      Please add a breed before you add a cat.
    {% endif %}
  </p>
  <p>
  <a href="{%url 'cats:breed_list'%}">View breeds</a> ({{ breed_count }}) | 
    <a href="{%url 'cats:breed_create'%}">Add a breed</a>
  </p>
{% endblock %}
